</div>
        
</div>

<script src="bootstrap.min.js"></script>
<script src="jquery.min.js"></script>
<script src="DOM.js"></script>
<footer>
    <h4  class="ref"  style="text-align: center;">Phenom'sDev @ <script>document.write(new Date().getFullYear())</script></h4>
</footer>


</body>
</html>

    